/* Styling Board */


/* Styling Section */

.section {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px) ;
  grid-gap: 0px;

}

.blue {
  background-color: rgb(215, 249, 250);
}

/* Styling Square */

.square {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  gap: 0;
  padding: none;
  margin: none;
}

.square > .number {
  display: grid;
  place-items: center;
}
.square > .numbers{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) ;
  
}

.square > .numbers > p:hover{
  color: red;
}
