

/* Styling Square */

.square {
  border: 1px solid black;
  height: auto;
  width: 150px;
}
.square > .numbers{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) ;
  
}

.square > .numbers > p:hover{
  color: red;
}
